<!-- Display Calendar -->
<mat-card class="cardWithShadow theme-card">
  <app-transactions-summary></app-transactions-summary>
</mat-card>      
<mat-card class="demo-inline-calendar-card" style="width: 30%;" *ngIf="transactions && transactions.length > 0">
  
  <mat-calendar [(selected)]="currentDate" [dateClass]="dateClassT()" (monthSelected)="onMonthSelected($event)" (selectedChange)="onDaySelected($event)"></mat-calendar>
  
</mat-card>
  
<div>
  <app-transactions></app-transactions>
</div> 

