
button.highlight-date-received {
    background-color: rgb(54, 228, 1);
    border-radius: 100%;
  }  

button.highlight-date-payment {
    background-color: rgb(228, 1, 1);
    border-radius: 100%;
  }  
